@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;0,900;1,100;1,200;1,300;1,400;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    
}

nav{
    display: flex;
    justify-content: space-between;
    /* max-width: 1280px;
    margin: 0 auto; */
    height: 20px;
    /* align-items: center; */
    /* background-color: aquamarine; */
}

nav img{
    width: 100px;
    height: 50px;
    /* margin-top: 3px; */
    margin-left: 30px;
    /* padding: 0px ; */
}


nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: 8px;
    margin-top: 4px;

}
.cantainer{
    margin: 0 auto;
    /* max-width: 1280; */

}


button{
    all: unset;
    padding: 2px 10px;
    height: 12px;
    font-size: 8px;
    color: aliceblue;
    background: #d01c28;
    font-weight: 400;
    border-radius: 20px;
    margin: 2px  10px;
    margin-right: 30px;

    
}

.hero{
    display: flex;
    align-items: center;
    height: calc(100vh-72px);
    justify-content: center;
}
.hero h1{
    font-weight: 900;
    line-height: 45px;
    font-size: 40px;
    margin-left: 20px;
    /* margin-top: 2px; */
}
.hero p{
    font-weight: 500;
    line-height: 17px;
    font-size: 10px;
    margin-left: 20px;
    color: gray;
}

.hero-btn{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;

}
.sec-btn{
    background: transparent;
    color: gray;
    border: 1px solid gray;
}

.availbe p{
    font-size: 15px;
    /* font-weight: 500; */
    margin-top: 15px;
    margin-bottom: 5px;
    color: rgb(44, 42, 42);
}

.availbe img {
    width: 30px;
    height: 30px;
    /* gap: 3px;  */
    margin-left: 25px;


    /* justify-content: space-between; */
}
.hero-img img{
    width: 300px;
    height: 300px;
}